.cell {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 2px;
}

.grey {
  background-color: darkgrey;
  color: transparent;
}

.white {
  background-color: white;
}

p {
  text-align: center;
  line-height: 30px;
  margin: 0;
}


